*{
    margin: 0;
    padding:0;
 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;

}
.container{
    max-width: 960px;
    margin:0 auto;
    padding:1em;
    text-align:center;

}
.nota, .lista-notas{
    font-family: monospace;
    font-size:2rem;
    padding:.5em;
    background-color:yellow;
    display:blocK;
    width:150px;
    height: 150px;
    text-align:center;
    box-shadow: 6px 6px 12px;
    margin:1em auto;
}
#show-notas{
    min-width: 75%;
    background-color: aqua;
    min-height:200px;
    display:block;
    display:flex;
    flex-wrap: wrap;

}